# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# --- FFmpeg (Teraz pobiera się przez skrypt) ---
ffmpeg/
ffmpeg.zip
temp_ffmpeg/

# --- Narzędzia budowania (PyInstaller) ---
build/
dist/
*.spec

# --- Pliki systemowe i IDE ---
.vs/
.vscode/
.idea/
*.user
*.log